<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Draw dogs on Thursdays">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://ec2-3-85-41-179.compute-1.amazonaws.com/">
    <meta property="og:image" content="thursday_logo.svg" />
    <title>Draw Dog Thursday</title>
    <link rel="icon" type="image/png" href="thursday_logo.svg"/>
    <!-- add our CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/draw.css" />
    <!-- add Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- add JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="nav">
            <a id="submit">Submit</a>
            <a id="back" href="/home">Back Home</a>
        </div>
    </div>

    <br class="break" />

    <div class="main">
        <div class="canvas-wrapper">
            <canvas id="canvas"></canvas>
        </div>
        <br />
        <div class="toolbar">
            <img id="pencil" src="assets/pencil.svg" alt="pencil">
            <img id="eraser" src="assets/eraser.svg" alt="eraser">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.3/fabric.min.js"></script>
    <script type="text/javascript">
        var canvas;
        var width = $(document).width();
        var height = $(document).height();
        // bootleg mobile responsiveness
        if(width <= 479) {
            height = 512;
        } else {
            width = 512;
            height = 512;
        }

        $(document).ready(
            (function() {
                var $ = (id) => document.getElementById(id);

                canvas = new fabric.Canvas('canvas', {
                    isDrawingMode: true,
                    width: width,
                    height: height,
                    backgroundColor: "white",
                    imageSmoothingEnabled: false
                });
                canvas.freeDrawingBrush.width = 6;

                $("submit").onclick = () => {
                    const imageDataUrl = canvas.toDataURL();
                    const data = { data: imageDataUrl }
                    window.fetch('/draw', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(() => window.location.href = '/home');
                };

            })()
        );

        $("#eraser").css("opacity",".2");
        $("#eraser").click(() => {
            $("#eraser").css("opacity", "1");
            $("#pencil").css("opacity", ".2");
            canvas.freeDrawingBrush.color = "white"
            canvas.freeDrawingBrush.width = 20;
        });
        $("#pencil").click(() => {
            $("#pencil").css("opacity", "1");
            $("#eraser").css("opacity", ".2");
            canvas.freeDrawingBrush.color = "black"
            canvas.freeDrawingBrush.width = 6;
        });

    </script>

</body>

</html>