<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Draw dogs on Thursdays">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://ec2-3-85-41-179.compute-1.amazonaws.com/">
    <meta property="og:image" content="thursday_logo.svg" />
    <title>Draw Dog Thursday - Login</title>
    <link rel="icon" type="image/png" href="thursday_logo.svg"/>
    <!-- add our CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <!-- add Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- add JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div id="loginBox">
        <img class="logo" src="thursday_logo.svg"/>
        <h1>Thursday</h1>
        <% if (failed) { %>
            <p style="color:red">Invalid username or password</p>
        <% } %>

        <div id="loginToggle">
            <a id="loginTab">Log In</a>
            <a id="signUpTab">Sign Up</a>
        </div>

        <form action="/login" method="POST" id="loginForm" class="hidden">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>

            <input type="submit" value="Log In">
        </form>

        <form action="/signup" method="POST" id="signupForm" class="hidden">
            <input type="email" placeholder="Email" name="email" maxlength="50" required>
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" maxlength="50" required>
            <input type="password" placeholder="Confirm Password" name="passwordConfirm" maxlength="50" required>

            <input type="submit" value="Sign Up">
        </form>
    </div>

    <script>
        $(document).ready(function() {
            const $ = (id) => document.getElementById(id);
            $("loginForm").classList.toggle("hidden");
            $("loginTab").classList.toggle("active");

            $("loginTab").onclick = (e) => {
                $("loginTab").classList.add("active");
                $("signUpTab").classList.remove("active");
            };

            $("signUpTab").onclick = (e) => {
                $("loginTab").classList.remove("active");
                $("signUpTab").classList.add("active");
            };
        });

        $("#signUpTab").click(function(){
			$("#loginForm").fadeOut(350);
			$("#loginBox").delay(100).animate({
				height: "+=100"
			}, 500);
			$("#signupForm").delay(350).fadeIn(350);
        });
        
        $("#loginTab").click(function(){
			$("#signupForm").fadeOut(350);
			$("#loginBox").delay(100).animate({
				height: "-=100"
			}, 500);
			$("#loginForm").delay(350).fadeIn(350);
		});
    </script>

</body>

</html>